/home/ayon/thesis/code/Thesis/Thirdparty/*
/data/Eiffel-Tower/*
/data/Pipe-Line/*
/data/Kitti/*
/data/Eiffel-Tower_undistorted/*
/data/Eiffel-Tower_ready/*
*.out
*.err
/data/Kitty_raw/*
experiments.ipynb
experiments.py
/.ipynb_checkpoints
/data/Eiffel-Tower_ready_opencv/*
/data/Eiffel-Tower_undistorted.zip
/data/Eiffel-Tower_ready_Downscaled/*
/data/Eiffel-Tower_depth_images/*
*.pyc
/checkpoints/*
