/home/ayon/thesis/code/Thesis/Thirdparty/*
/data/Eiffel-Tower/*
/data/Pipe-Line/*
/data/Kitti/*
/data/Eiffel-Tower_undistorted/*
/data/Eiffel-Tower_ready/*
*.out
*.err
/data/Kitty_raw/*
experiments.ipynb
experiments.py
/.ipynb_checkpoints
/data/Eiffel-Tower_ready_opencv/*
/data/Eiffel-Tower_undistorted.zip
/data/Eiffel-Tower_ready_Downscaled/*
/data/Eiffel-Tower_depth_images/*
*.pyc
/checkpoints/*
/saved_models/*
/pose_evaluation/*
/depth_evaluation/*
/depth_prediction.gif
/data/Eiffel-Tower_ready_Downscaled_colmap/*
/data/scaled_and_cropped_depth/*
/models/CPD/CPD-R.pth
/data/scaled_and_cropped_mask/*
/checkpoints_old/*
experiment_with_depth_anything.ipynb
data/Eiffel_tower_ready_small_set/*

