[submodule "Thirdparty/UDepth"]
	path = Thirdparty/UDepth
	url = git@github.com:uf-robopi/UDepth.git
[submodule "Thirdparty/SfmLearner-Pytorch"]
	path = Thirdparty/SfmLearner-Pytorch
	url = git@github.com:ClementPinard/SfmLearner-Pytorch.git
[submodule "Thirdparty/SC-SfMLearner-Release"]
	path = Thirdparty/SC-SfMLearner-Release
	url = git@github.com:JiawangBian/SC-SfMLearner-Release.git
[submodule "Thirdparty/depth_map_2_mesh_ray_tracer"]
	path = Thirdparty/depth_map_2_mesh_ray_tracer
	url = https://github.com/ferreram/depth_map_2_mesh_ray_tracer.git
[submodule "Thirdparty/openMVS"]
	path = Thirdparty/openMVS
	url = git@github.com:cdcseacave/openMVS.git
